
<%= simple_form_for(@following) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :following_id %>
    <%= f.input :followed_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
