<div class="modal-header">
  <h4 class="modal-title text-capitalize" id="myModalLabel">login to twidder</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="mb-1">
    <svg viewBox="0 0 24 24" width="32" fill="#0287fd">
      <g>
        <path
          d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
        ></path>
      </g>
    </svg>
    <h5 class="modal-note text-capitalize text-bold mt-2">Login with your username</h5>
  </div>
  <%= simple_form_for (:session), url: login_path, html: {class: 'login-form'} do |f| %>
    <% if flash[:notice] %>
      <p class="notice-alert text-center text-success"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="notice-alert alert text-center text-danger"><%= alert %></p>
    <% end %>
    <div class="my-3">
      <%= f.input :username, label: 'Username', placeholder: 'userName', label_html: {class: "usrform-label"}, input_html: {class: 'usrform-input', id: 'twidder-login'} %>
    </div>
    <div class="loginbtn-section d-flex flex-column align-items-center justify-content-center mt-4 pt-2">
      <div class="my-2">
        <%= f.button :submit, 'Log in', class: 'loginsubmit-btn' %>
      </div>
      <div class="my-2">
        <%= link_to "sign up", signup_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'my-0 optsignup-btn'} %>
        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
       </div>
      </div>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <div class="mfooter-conent d-flex align-items-center justify-content-end">
    <div class="">
      <h6 class="my-0"><span class="abbrv">Twid</span> - tell what I'm doing!</h6>
    </div>
  </div>
</div>
