<div class="wrapper">

  <!-- SIDEBAR-LEFT -->
  <%= render partial: 'shared/side_navigation' %>
  <!-- S-L -->

  <!-- MAIN -->

  <div class="main">
 <!-- NAVIGATION MENU -->
  <%= render partial: 'shared/top_navigation' %>

    <!-- MAIN CONTENT -->
    <div class=" mt-5 pt-3">
      <div class="d-flex">

        <div class="d-flex flex-column col-sm-6 col-lg-9">
          <!-- MAIN CONTENT -->
          <div class="twidder-menu d-flex text-capitalize">
            <div class=" mr-5 mb-0 h4 menu-highlight pl-3 py-3">twids</div>
            <div class=" mr-5 h4 py-3">photos</div>
            <div class=" mr-5 h4 py-3">videos</div>
          </div>

          <div class="opinion-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="opinion-section">
                <p class="createopinion-title mb-2 text-capitalize">twid something</p>
                <div class="create-opinion">
                  <!-- <div class="opinion-form"> -->
                    <%= render partial: 'shared/form', locals: { opinion: @opinion } %>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
<!--  -->
          <div class="opinions-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="newopinion-section">
                <div class="tofollow-head text-capitalize">
                  <div class="mr-5 mb-0 py-3 newopinion-title">4 new twids</div>
                </div>
                <% @opinions.each do |opinion| %>
                <div class="d-flex align-items-start py-4">
                  <div class="newopinion-img m-4 mr-3 ml-0 mt-0 rounded d-block">
                    <picture class=""></picture>
                  </div>
                  <div class="flex-fill d-flex flex-column">
                    <div class="d-flex justify-content-between">
                      <h6 class="newopinion-author"><%= opinion.author.fullname %></h6>
                      <h6 class="pl-3 newopinion-time"><%=opinion.created_at.strftime("%H") %>h</h6>
                    </div>
                    
                    <p class="twid-msg pb-3 d-inline"><%= opinion.text %></p>
                    <div class="d-flex justify-content-between align-items-end">Like</div>
                    <div class="d-flex justify-content-between align-items-end">
                      <div class='user-comments'>
                        <%= render partial: 'comments/comment', locals: { collection: opinion.comments } %>
                        <%= render partial: 'shared/comment_form', locals: { comment: opinion.comments.new, opinion: opinion } %>
                    </div>

                    </div>

                    





                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
<!--  -->
        </div>


        <div class="right-aside col-sm-6 col-lg-3 right-sec">

          <div class="tofollow-section">
            <div class="tofollow-head d-flex justify-content-between text-capitalize">
              <div class="mr-5 mb-0 h4 py-3">who to follow</div>
              <div class=" h4 py-3">
                <a class="" href="#" id="" data-toggle="">
                  <div class="">
                    <i class="" data-feather="refresh-cw"></i>
                  </div>
                </a>
              </div>
            </div>
            <% @users.each do |user| %>
            <%= link_to user_path(user), class: 'user' do %>
            <div class="d-flex align-items-center">
              <picture class="tofollow-img m-4 mr-3 ml-0 rounded-circle">
                    <% unless user[:photo].nil? %>
                    <%= image_tag user.pic.thumb.url, class: 'photo' %>
                  <% else %>
                    <%= gravatar_for user, size: 50 %>
                  <% end %>
              </picture>
              <div class="flex-fill d-flex flex-column ">
                <h6 class="pt-3"><%= user.fullname %></h6>
                <h6 class="pb-3">Followed by....</h6>
              </div>  
            </div>
            <% end %>
            <% end %>

          </div>

          <div class="trending-section">
            <div class="trending-head d-flex justify-content-between text-capitalize">
              <div class=" mr-5 mb-0 h4 py-3">trending</div>
              <div class=" h4 py-3">
                <a class="" href="#" id="" data-toggle="">
                  <div class="">
                    <i class="" data-feather="trending-up"></i>
                  </div>
                </a>
              </div>
            </div>

            <div class="">
              <div class="">
                <ul class="trending-list">
                  <li class="mt-3"><a>#elections</a></li>
                  <li class=""><a>#nouvelle mode</a></li>
                  <li class=""><a>#des sports</a></li>
                  <li class=""><a>#travel tour</a></li>
                  <li class=""><a>#gagdetzone</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row text-muted">
          <div class="col-6 text-left">
            <p class="mb-0">
              <%= link_to root_path, class:'footer-logo' do %>
              <strong>&copy;Twidder <%= Time.now.year %></strong>
              <% end %>
            </p>
          </div>
          <div class="col-6 text-right">
            <ul class="list-inline footer-map">
              <li class="list-inline-item">
                <a class="" href="#">Support</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="#">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
