
         <% if @opinion.errors.full_messages.any? %>
           <% @opinion.errors.full_messages.each do |message| %>
               <%= message %>
           <% end %>
         <% end %>

         <%= simple_form_for @opinion, url: new_opinion_path  do |f| %>
           <%= f.input :text, label: false, placeholder: 'Share your opinion'%>
           <%= f.button :submit, 'Tweet'%>
         <% end %>

         <% @opinions.each do |opinion| %>
             <h4><%= opinion.Author.fullname.capitalize %></h4>
             <span><%= opinion.text %></span>
         <% end %>