<div class="wrapper">
  <%= render partial: 'shared/side_navigation' %>
  <div class="main">
  <%= render partial: 'shared/top_navigation' %>
    <div class="main-content-h mt-5 pt-3">
      <div class="d-flex">
        <div class="midcontent-left d-flex flex-column col-sm-12 col-md-8 col-xl-9">
          <div class="twidder-menu d-flex text-capitalize">
            <div class=" px-4 mb-0 h4 menu-highlight py-3">twids</div>
            <div class="menu-inactive px-4 h4 py-3">photos</div>
            <div class="menu-inactive px-4 h4 py-3">videos</div>
          </div>
          <div class="opinion-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="opinion-section">
                <p class="createopinion-title mb-2 text-capitalize">twid something</p>
                <%= error_msg(@opinion) %>
                <div class="create-opinion">
                  <%= render partial: 'shared/form', locals: { opinion: @opinion } %>
                </div>
              </div>
            </div>
          </div>
          <div class="opinions-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="newopinion-section">
                <div class="tofollow-head  d-flex justify-content-between align-items-center">
                  <div class="mb-0 pb-2 pt-1 text-capitalize newopinion-title"><%= "#{pluralize(@opinions.count, 'new twid')}" %></div>
                  <div class="pb-2 pt-1">
                    <%= flash_notice %>
                    <%= flash_alert %>
                  </div>
                </div>
                <%= render partial: 'shared/opinions' %>
              </div>
            </div>
          </div>
        </div>
        <div class="right-aside col-sm-0 col-md-4 col-xl-3">
          <div class="tofollow-section pb-3">
            <div class="tofollow-head d-flex justify-content-between text-capitalize mb-3">
              <div class="sbr-title mb-0 h4 py-3">who to follow</div>
              <div class=" h4 py-3">
                <a class="" href="#">
                  <i class="title-icon refresh-cw">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw title-icon"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                  </i>
                </a>
              </div>
            </div>
            <% @tofllow.each do |user| %>
              <%= link_to user_path(user) do %>
                <div class="d-flex align-items-center">
                  <picture class="tofollow-img img-link mr-3 ml-0">
                    <%= user_image(user) %>
                  </picture>
                  <div class="flex-fill d-flex flex-column">
                    <h6 class="tofollow-fullname pt-3  text-capitalize"><%= user.fullname %></h6>
                    <h6 class="tofollow-username pb-3">@<%= user.username %></h6>
                  </div>  
                </div>
              <% end %>
            <% end %>
          </div>
          <%= render partial: 'shared/trending' %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
