<%= form_with(model: user) do |form| %>
  <%= error_msg(user) %>
  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_area :fullname %>
  </div>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_area :username %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
