<div class="wrapper">
  <%= render partial: 'shared/side_navigation' %>
  <div class="main">
    <%= render partial: 'shared/top_navigation' %>
    <div class=" mt-5 pt-3">
      <div class="d-flex">
        <div class="d-flex flex-column col-sm-12 col-md-8 col-lg-8 col-xl-9">
          <div class="coverimg-container">
            <% unless @user[:cover_img].nil? %>
              <%= cl_image_tag @user.cover_img.cover.url, class: 'cover-img' %>
            <% else %>
              <img src="https://via.placeholder.com/2700x300" alt="no cover image chosen!">
            <% end %>
          </div>
          <div class="twidder-menu d-flex text-capitalize">
            <div class=" px-3 mb-0 h4 menu-highlight py-3">twids</div>
            <div class="menu-inactive px-4 h4 py-3">photos</div>
            <div class="menu-inactive px-4 h4 py-3">followers</div>
            <div class="menu-inactive px-4 h4 py-3">following</div>
            <div class="menu-inactive px-4 h4 py-3">favorites</div>
            <div class="menu-inactive px-4 h4 py-3">lists</div>
          </div>
          <div class="opinion-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="opinion-section">
                <p class="createopinion-title mb-2 text-capitalize">twid to <%= @user.fullname %></p>
                <div class="create-opinion">
                  <%= render partial: 'shared/profile_form', locals: { opinion: @opinion } %>
                </div>
              </div>
            </div>
          </div>
          <div class="opinions-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="newopinion-section">
                <div class="tofollow-head d-flex justify-content-between align-items-center">
                  <div class="mb-0 pb-2 pt-1 newopinion-title"><%= "#{pluralize(@opinions.size, 'New twid')} "%> by <span class="text-capitalize"><%= @user.fullname %></span></div>
                  <div class="pb-2 pt-1">
                    <% if flash[:notice] %>
                      <h6 class="notice-alert notice alert text-success my-0"><%= notice %>!</h6>
                    <% end %>
                    <% if flash[:alert] %>
                      <h6 class="notice-alert alert text-danger my-0"><%= alert %>!</h6>
                    <% end %>
                  </div> 
                </div>
                <%= render partial: 'shared/opinions' %>
              </div>
            </div>
          </div>
        </div>
        <div class="right-aside col-sm-0 col-md-4 col-lg-4 col-xl-3">
          <div class="profile-section">
            <div class="d-flex align-items-center sbr-profile">
              <% unless current_user.id == @user.id %>
                <% if current_user.followed.any? { |person| person.followed_id == @user.id }%> 
                  <div class=" flex-fill d-flex flex-column align-items-end justify-content-center"> 
                    <%= link_to unfollow_path(@user), id: 'unfollow_path', method: :delete do %>
                    <i class="follow-picon py-1 feather-32 minus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  </div> 
                <%else%>
                  <div class="flex-fill d-flex flex-column align-items-end justify-content-center">
                    <%= link_to follow_path(@user), id: 'follow_path' do %> 
                    <i class="follow-picon py-1 feather-32 plus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <div class="flex-fill d-flex flex-column align-items-center justify-content-center my-3">
                <picture class="profile-img">
                  <% unless @user[:photo].nil? %>
                    <%= cl_image_tag @user.photo.profile.url %>
                  <% else %>
                    <%= gravatar_for @user, size: 96 %>
                  <% end %>
                </picture>
              </div>
              <div class="flex-fill d-flex flex-column align-items-start justify-content-center">
                <div class="py-1">
                  <i class="follow-icon feather-32 list"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list follow-licon feather-32"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg></i>
                </div>
              </div>
            </div>
            <div class="profile-name d-flex flex-column justify-content-between">
              <h6 class="profile-fullname text-center "><%= @user.fullname %></h6>
              <h6 class="profile-username text-center">@<%= @user.username %></h6>
            </div>
          </div>
          <div class="stats-section text-capitalize">
            <div class="d-flex align-items-center ">
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center">
                <h6 class="stats-figure pt-1"><%= @opinions.size %></h6>
                <h6 class="stats-category pb-1">twids</h6>
              </div>
              <div
                class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center profile-stats">
                <h6 class="stats-figure pt-1"><%= @user.followed.size %></h6>
                <h6 class="stats-category pb-1">following</h6>
              </div>
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center ">
                <h6 class="stats-figure pt-1"><%= @user.followers.size %></h6>
                <h6 class="stats-category pb-1">followers</h6>
              </div>
            </div>
          </div>
          <div class="followedby-section pb-3">
            <div class="followedby-head d-flex justify-content-between text-capitalize mb-3">
              <div class="sbr-title mb-0 h4 py-3">followed by</div>
              <div class=" h4 py-3">
                <a class="" href="#">
                  <i class="title-icon refresh-cw">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw title-icon"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                  </i>
                </a>
              </div>
            </div>
            <% @followers.each do |follower| %>
            <div class="d-flex align-items-center">
              <%= link_to user_path(follower.Follower), class:'img-link' do %>
                <picture class="followed-by-img mr-3 ml-0">
                  <% unless follower.Follower[:photo].nil? %>
                    <%= cl_image_tag follower.Follower.photo.follow.url %>
                  <% else %>
                    <%= gravatar_for follower.Follower, size: 64 %>
                  <% end %>
                </picture>
              <% end %>
              <div class="flex-fill d-flex flex-column ">
                <h6 class="followedby-fullname pt-3"><%= link_to "#{follower.Follower.fullname}", user_path(follower.Follower), class:'follower-name' %></h6>
                <h6 class="followedby-username pb-3">@<%= follower.Follower.username %></h6>
              </div>
              <div class="flex-fill d-flex flex-column align-items-end justify-content-center">
                <div class="py-1">
                  <% if current_user.followed.any? { |person| person.followed_id == follower.Follower.id }%>
                    <%= link_to unfollow_path(follower.Follower), method: :delete do %>
                      <i class="follow-picon feather-32 minus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  <%else%>
                    <%= link_to follow_path(follower.Follower) do %>
                      <i class="follow-picon feather-32 plus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <%= render partial: 'shared/trending' %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
