<div class="wrapper">
  <%= render partial: 'shared/side_navigation' %>
  <div class="main">
    <%= render partial: 'shared/top_navigation' %>
    <div class=" mt-5 pt-3">
      <div class="d-flex">
        <div class="midcontent-left d-flex flex-column col-sm-12 col-md-8 col-xl-9">
          <div class="coverimg-container">
            <%= cover_image(@user) %>
          </div>
          <div class="twidder-menu d-flex text-capitalize">
            <div class=" px-3 mb-0 h4 menu-highlight py-3">twids</div>
            <div class="menu-inactive px-4 h4 py-3">photos</div>
            <div class="menu-inactive px-4 h4 py-3">followers</div>
            <div class="menu-inactive px-4 h4 py-3">following</div>
            <div class="menu-inactive px-4 h4 py-3">favorites</div>
            <div class="menu-inactive px-4 h4 py-3">lists</div>
          </div>
          <div class="opinion-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="opinion-section">
                <p class="createopinion-title mb-2 text-capitalize">twid to <%= @user.fullname %></p>
                <div class="create-opinion">
                  <%= render partial: 'shared/profile_form', locals: { opinion: @opinion } %>
                </div>
              </div>
            </div>
          </div>
          <div class="opinions-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="newopinion-section">
                <div class="tofollow-head d-flex justify-content-between align-items-center">
                  <div class="mb-0 pb-2 pt-1 newopinion-title">
                    <span class="text-capitalize"><%= "#{pluralize(@opinions.size, 'New twid')} "%></span> by <span class="text-capitalize"><%= @user.fullname %></span>
                  </div>
                  <div class="pb-2 pt-1">
                    <%= flash_notice %>
                    <%= flash_alert %>
                  </div> 
                </div>
                <%= render partial: 'shared/opinions' %>
              </div>
            </div>
          </div>
        </div>
        <div class="right-aside col-sm-0 col-md-4 col-xl-3">
          <div class="profile-section">
            <div class="d-flex align-items-center sbr-profile">
              <%= followprofile_toggle %>
              <div class="flex-fill d-flex flex-column align-items-center justify-content-center my-3">
                <picture class="profile-img">
                  <%= profile_image(@user) %>
                </picture>
              </div>
              <div class="flex-fill d-flex flex-column align-items-start justify-content-center py-1">
                <%= userlisticon_toggle %>
              </div>
            </div>
            <div class="profile-name d-flex flex-column justify-content-between">
              <h6 class="profile-fullname text-center text-capitalize"><%= @user.fullname %></h6>
              <h6 class="profile-username text-center">@<%= @user.username %></h6>
            </div>
          </div>
          <div class="stats-section text-capitalize">
            <div class="d-flex align-items-center ">
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center">
                <h6 class="stats-figure pt-1"><%= @opinions.size %></h6>
                <h6 class="stats-category pb-1">twids</h6>
              </div>
              <div
                class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center profile-stats">
                <h6 class="stats-figure pt-1"><%= @user.followed.size %></h6>
                <h6 class="stats-category pb-1">following</h6>
              </div>
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center ">
                <h6 class="stats-figure pt-1"><%= @user.followers.size %></h6>
                <h6 class="stats-category pb-1">followers</h6>
              </div>
            </div>
          </div>
          <div class="followedby-section pb-3">
            <div class="followedby-head d-flex justify-content-between text-capitalize mb-3">
              <div class="sbr-title mb-0 h4 py-3">followed by</div>
              <div class=" h4 py-3">
                <a class="" href="#">
                  <i class="title-icon refresh-cw">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw title-icon"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                  </i>
                </a>
              </div>
            </div>
            <% @followers.each do |follower| %>
              <div class="d-flex align-items-center">
                <%= link_to user_path(follower.Follower), class:'img-link' do %>
                  <picture class="followed-by-img mr-3 ml-0">
                    <%= follower_photo(follower) %>
                  </picture>
                <% end %>
                <div class="flex-fill d-flex flex-column ">
                  <h6 class="followedby-fullname text-capitalize pt-3"><%= link_to "#{follower.Follower.fullname}", user_path(follower.Follower), class:'follower-name' %></h6>
                  <h6 class="followedby-username pb-3">@<%= follower.Follower.username %></h6>
                </div>
                <div class="flex-fill d-flex flex-column align-items-end justify-content-center">
                  <div class="py-1">
                    <%= follow_toggle(follower) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= render partial: 'shared/trending' %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
