<div class="wrapper">

  <!-- SIDEBAR-LEFT -->
  <%= render partial: 'shared/side_navigation' %>
  <!-- S-L -->

  <!-- MAIN -->

  <div class="main">
    <!-- NAVIGATION MENU -->
    <%= render partial: 'shared/top_navigation' %>

    <!-- MAIN CONTENT -->
    <div class=" mt-5 pt-3">
      <div class="d-flex">

        <div class="d-flex flex-column col-sm-6 col-lg-9">
          <!-- MAIN CONTENT -->
          <div class="cover-img">
            <% unless @user[:cover_img].nil? %>
              <%= cl_image_tag @user.cover_img.cover.url, class: '' %>
            <% else %>
              <img src="https://via.placeholder.com/817x240" alt="">
            <% end %>
          </div>

          <div class="twidder-menu d-flex text-capitalize">
            <div class=" px-3 mb-0 h4 menu-highlight py-3">twids</div>
            <div class="menu-inactive px-4 h4 py-3">photos</div>
            <div class="menu-inactive px-4 h4 py-3">followers</div>
            <div class="menu-inactive px-4 h4 py-3">following</div>
            <div class="menu-inactive px-4 h4 py-3">favorites</div>
            <div class="menu-inactive px-4 h4 py-3">lists</div>
          </div>

          <div class="opinion-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="opinion-section">
                <p class="createopinion-title mb-2 text-capitalize">twid to <%= @user.fullname %></p>
                <div class="create-opinion">
                  <!-- <div class="opinion-form"> -->
                  <%= render partial: 'shared/profile_form', locals: { opinion: @opinion } %>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="opinions-container d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="newopinion-section">
                <div class="tofollow-head text-capitalize">
                  <div class="mr-5 mb-0 py-3 newopinion-title"><%= @opinions.size %> new twids by <%= @user.fullname %></div>
                </div>
                <% @opinions.each do |opinion| %>
                <div class="d-flex align-items-start py-4">
                  <picture class="newopinion-img m-4 mr-3 ml-0 mt-0 rounded d-block">
                    <% if opinion.author[:photo].nil? %>
                      <%= gravatar_for opinion.author, size: 64 %>
                    <% else %>
                      <%= cl_image_tag opinion.author.photo.author_photo.url %>
                    <% end %>
                  </picture>
                  <div class="flex-fill d-flex flex-column">
                    <div class="d-flex justify-content-between">
                      <h6 class="newopinion-author"><%= opinion.author.fullname %></h6>
                      <h6 class="pl-3 newopinion-time"><%=opinion.created_at.strftime("%H") %>h</h6>
                    </div>
                    
                    <p class="twid-msg py-2 pl-3 d-inline"><%= opinion.text %></p>
                    <div class="d-flex justify-content-between"><!-- align-items-end -->
                      <!-- Like -->
                      <div class="d-flex opinion-stats">
                        <p class="opinion-stat1 text-capitalize pr-3"><% if opinion.likes.any? %><%= "#{pluralize(opinion.likes.size, 'like')}" %><% end %></span>
                        <p class="opinion-stat2 text-capitalize"><% if opinion.comments.any? %><%= "#{pluralize(opinion.comments.count, 'reply')}" %><% end %></span>
                        <!-- <span><span class="mid-bold"><%#= opinion.comments.count %></span> replies</span> -->
                      </div>
                      <div class="d-flex">
                        <span class="pr-4"><%= like_or_dislike_toggle(opinion) %></span>
                        <div class="">
                          <%= link_to new_reply_path(opinion_id: opinion.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'text-capitalize'} do %>
                          <i class="align-middle message-square pr-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fs-18 feather feather-message-square align-middle"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg></i><span class="text-capitalize">reply</span>
                          <% end %>
                            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content"></div>
                              </div>
                            </div>
                        </div>
                      </div>
                       
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                      <div class='user-comments'>
                        <%= render partial: 'comments/comment', locals: { collection: opinion.comments }, remote: true %>
                        
                      </div>

                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <!--  -->
        </div>

        <!-- RIGHT ASIDE -->
        <div class="right-aside col-sm-6 col-lg-3">

          <div class="profile-section">

            <div class="d-flex align-items-center sbr-profile">
              <% unless current_user.id == @user.id %>
                <% if current_user.followed.any? { |person| person.followed_id == @user.id }%> 
                    <div class=" flex-fill d-flex flex-column align-items-end justify-content-center"> 
                      <%= link_to unfollow_path(@user), id: 'unfollow_path', method: :delete do %>
                      <i class="follow-picon py-1 feather-32 minus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                      <!-- <span class="indicator d-block">unfollow</span> -->
                      <% end %>
                    </div>
                    
                <%else%>
                    
                    <div class="flex-fill d-flex flex-column align-items-end justify-content-center">
                      <%= link_to follow_path(@user), id: 'follow_path' do %> 
                      <i class="follow-picon py-1 feather-32 plus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                      <% end %>
                    </div>
                    
                <% end %>
              <% end %>
              <div class="flex-fill d-flex flex-column align-items-center justify-content-center my-3">
                <picture class="profile-img">
                  <% unless @user[:photo].nil? %>
                    <%= cl_image_tag @user.photo.profile.url %>
                  <% else %>
                    <%= gravatar_for @user, size: 96 %>
                  <% end %>
                </picture>
              </div>
              <div class="flex-fill d-flex flex-column align-items-start justify-content-center">
                <div class="py-1">
                  <i class="follow-icon feather-32 list"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list follow-licon feather-32"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg></i>
                </div>
              </div>
            </div>

            <div class="profile-name d-flex flex-column justify-content-between">
              <h6 class="profile-fullname text-center "><%= @user.fullname %></h6>
              <h6 class="profile-username text-center">@<%= @user.username %></h6>
            </div>
          </div>

          <div class="stats-section text-capitalize">

            <div class="d-flex align-items-center ">
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center">
                <h6 class="stats-figure pt-1"><%= @opinions.size %></h6>
                <h6 class="stats-category pb-1">twids</h6>
              </div>
              <div
                class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center profile-stats">
                <h6 class="stats-figure pt-1"><%= @user.followed.size %></h6>
                <h6 class="stats-category pb-1">following</h6>
              </div>
              <div class="stats-box flex-fill d-flex flex-column align-items-center justify-content-center ">
                <h6 class="stats-figure pt-1"><%= @user.followers.size %></h6>
                <h6 class="stats-category pb-1">followers</h6>
              </div>
            </div>
          </div>

          <div class="followedby-section pb-3">
            
            <div class="followedby-head d-flex justify-content-between text-capitalize mb-3">
              <div class="sbr-title mr-5 mb-0 h4 py-3">followed by</div>
              <div class=" h4 py-3">
                <a class="" href="#">
                  <i class="title-icon refresh-cw">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw title-icon"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                  </i>
                </a>
              </div>
            </div>
            
            <% @followers.each do |follower| %>
            <div class="d-flex align-items-center">
              
              <picture class="followed-by-img mr-3 ml-0">
                <% unless follower.Follower[:photo].nil? %>
                  <%= cl_image_tag follower.Follower.photo.follow.url %>
                <% else %>
                  <%= gravatar_for follower.Follower, size: 64 %>
                <% end %>
              </picture>
              <div class="flex-fill d-flex flex-column ">
                <h6 class="followedby-fullname pt-3"><%= follower.Follower.fullname %></h6>
                <h6 class="followedby-username pb-3">@<%= follower.Follower.username %></h6>
              </div>
              <div class="flex-fill d-flex flex-column align-items-end justify-content-center">
                <div class="py-1">
                  <% if current_user.followed.any? { |person| person.followed_id == follower.Follower.id }%>
                    <%= link_to unfollow_path(follower.Follower), method: :delete do %>
                      <i class="follow-picon feather-32 minus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  <%else%>
                    <%= link_to follow_path(follower.Follower) do %>
                      <i class="follow-picon feather-32 plus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle follow-picon feather-32"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
              
            </div>
            <% end %>
            
          </div>

          <%= render partial: 'shared/trending' %>

        </div>
      </div>
    </div>

    <%= render partial: 'shared/footer' %>
  </div>
</div>